<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!-- 4/11/18 - SAM - Added rewriter -->
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
  <appSettings>

    <add key="WebsiteOffline" value="False" />
    <add key="WebsiteOfflinePage" value="Unavailable.htm" />
    <add key="QueueEmail" value="False" />

    <add key="DateForTesting" value=""/>
    <add key="SeasonEndDate" value="9/3/2019 12:00 AM"/>
    <add key="SeasonStartDate" value="10/1/2019 12:00 AM"/>
    <add key="EncryptPassword" value="freed0m"/>

    <add key="SMTPServer" value="email-smtp.us-east-1.amazonaws.com" />
    <add key="SMTPServerUser" value="AKIAJLWNPT6DCBYYV6EQ" />
    <add key="SMTPServerPassword" value="AkySTdy5qrUaOxBT+2FbrNgBGVAU848PcPZ1GzU9jSFv" />
    <add key="SMTPServerPort" value="587" />
    <add key="Google_gaqLink" value="_gaq.push(['_link', 'http:\/\/www.cstayreserve.com\/Reserve.aspx?FromBookmark=True']);" />
    

    
    <!-- Deployment: local -->
    <add key="MainWebsite" value="http://www.cooperstownstay.local" />
    <add key="ReservationWebsite" value="http://www.cstayreserve.local" />
    <add key="EditWebsiteLink" value="http://edit.cooperstownstay.local/EditContent.aspx" />


    <add key="ErrorEmailAddress" value="brichard@trinitysoftware.net" />
    <add key="ErrorRedirectPage" value="WebError.aspx" />
    <add key="SaveOnlyUniqueErrors" value="True" />

    <add key="EncryptPassword" value="freed0m" />
    <add key="PageRoutePrefix" value="Rental-Lodging/" />
    <add key="VillageMapProperties" value=":68:282:283:284:285:286:287:288:289:338:340:517:652:653:736:737:738:739:740:742:743:744:777:779:780:781:782:800:812:847:852:883:885:886:887:888:889:890:891:892:918:931:941:942:943:1015:" />
    <add key="CommonPageKeywords" value="Cooperstown, Cooperstown NY, Cooperstown rental homes, Cooperstown lodging, Cooperstown vacation rentals, Cooperstown accommodations, Cooperstown Dreams Park, Dreamspark, Cooperstown Baseball World, Oneonta, Baseball Hall of Fame, Cooperstown rentals, stay, Cooperstown apartments, Cooperstown waterfront, Cooperstown lakeside cottages, Otsego County Chamber of Commerce, Cooperstown Chamber, Lonetta, Lonetta Swartout" />
    <add key="MaxSearchResults" value="400" />
  </appSettings>
  <connectionStrings>
	<add name="HouseRentalConnectionString" connectionString="Data Source=cstaydb.cooperstownstay.com,51433;Initial Catalog=HouseRentalTest;Persist Security Info=True;User ID=sa;Password=4Gsltw316" providerName="System.Data.SqlClient" />
	<add name="HouseRentalConnectionStringDev" connectionString="Data Source=localhost\sql2012;Initial Catalog=HouseRental;Persist Security Info=True;User ID=sa;Password=4Gsltw316" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- 
      Set compilation debug="true" to insert debugging 
      symbols into the compiled page. Because this 
      affects performance, set this value to true only 
      during development.
    -->
	
    <!-- Deployment: live>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.0">
    -->
    <!-- Deployment: local-->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
    <!--
      The <customErrors> section enables configuration 
      of what to do if/when an unhandled error occurs 
      during the execution of a request. Specifically, 
      it enables developers to configure html error pages 
      to be displayed in place of a error stack trace.
    -->

      <customErrors mode="Off" defaultRedirect="Weberror.aspx">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <!-- 
    -->
    <httpRuntime requestValidationMode="2.0" />
    <sessionState timeout="60" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!-- 4/11/18 - SAM - Added urlrewriter -->
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
    </modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <!-- Deployment: live>
    <httpRedirect enabled="false" destination="http://www.cooperstownstay.com" exactDestination="false" />
    -->
    <!-- Deployment: local -->
    <!-- commented this out when started using REWRITE tag below
    <httpRedirect enabled="false" destination="http://devs.cooperstownstay.com" exactDestination="false" />
     -->
    
    <!-- force https -->
    <!-- REF: https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/using-the-url-rewrite-module -->
    <!-- uncomment on live server on both Main and MainDev.....................  WHEN YOU UNCOMMENT THIS, ALSO CHANGE NON-WWW to WWW to resolve to the https -->
    <!--<rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
    
    
  </system.webServer>


  <rewriter>
    <!--  Rewriter Reference: https://www.nuget.org/packages/Intelligencia.UrlRewriter/ -->


    <!-- redirect non-www to www -->
    <if header="host" match="^cooperstownstay.com$">
      <redirect url="^(.+)$" to="https://dev.cooperstownstay.com$1" />
    </if>

    <!-- get rid of trailing slash -->
    <if url="/$">
      <redirect url="(.+)/$" to="$1" processing="stop" />
    </if>

    <!-- **************************************** 301 Redirect Old URLs to New User Friendly URLs **************************************** -->
	
    <redirect url="^/images/cstay-accomm-map16.pdf$" to="/images/cstay-accomm-map.pdf" processing="stop"/>
    <redirect url="^/html/cstay-list-houses-oneonta.html(.+)?$" to="/oneonta-ny-lodging" processing="stop"/>
    
    
    <!-- general -->
    <redirect url="^/default.aspx(.+)?$" to="/$1" processing="stop"/>
    <redirect url="^/Weekly-House-Rentals.aspx$" to="/house-rentals" processing="stop" />
    <redirect url="^/Hotels.aspx$" to="/hotels" processing="stop" />
    <redirect url="^/FAQ.aspx$" to="/faq" processing="stop" />
    <redirect url="^/Testimonials.aspx$" to="/reviews" processing="stop" />
    <redirect url="^/contactus.aspx(.+)?$" to="/contact$1" processing="stop" />
	<redirect url="^/Info.aspx\?Agreement=True$" to="/rental-agreement" processing="stop" />
	<redirect url="^/Info.aspx(.+)?$" to="/rental-info$1" processing="stop" />
    <redirect url="^/Agreement.aspx(.+)?$" to="/rental-agreement$1" processing="stop" />
	<redirect url="^/Privacy.aspx(.+)?$" to="/privacy$1" processing="stop" />
	<redirect url="^/Login.aspx(.+)?$" to="/login$1" processing="stop" />
	<redirect url="^/Details.aspx$" to="/" processing="stop" />
    <redirect url="^/Homes.aspx$" to="/house-rentals" processing="stop" />
    
	<!-- area info -->
    <redirect url="^/Links.aspx$" to="/things-to-do" processing="stop" />
    <redirect url="^/Photos.aspx$" to="/cooperstown-photos" processing="stop" />
    <redirect url="^/Maps.aspx$" to="/cooperstown-ny-map" processing="stop" />
    <redirect url="^/AreaMap.aspx(.+)?$" to="/area-map$1" processing="stop" />
    <redirect url="^/GoogleMap.aspx(.+)?$" to="/rental-map$1" processing="stop" />
    <redirect url="^/VillageMap.aspx(.+)?$" to="/village-map$1" processing="stop" />
    <redirect url="^/ParksMap.aspx(.+)?$" to="/parks-map$1" processing="stop" />
	
    
	<!-- 1 - 6+ bedroom homes -->
	<redirect url="^/Properties.aspx\?PropCat=6$" to="/house-rentals/1-2-bedrooms" processing="stop"/>
    <redirect url="^/Properties.aspx\?PropCat=7$" to="/house-rentals/3-bedrooms" processing="stop"/>
    <redirect url="^/Properties.aspx\?PropCat=8$" to="/house-rentals/4-bedrooms" processing="stop"/>
    <redirect url="^/Properties.aspx\?PropCat=9$" to="/house-rentals/5-bedrooms" processing="stop"/>
    <redirect url="^/Properties.aspx\?PropCat=11$" to="/house-rentals/6-bedrooms" processing="stop"/>
	
	<!-- other property categories -->
    <redirect url="^/Properties.aspx\?PropCat=3,4,13$" to="/house-rentals-on-lake" processing="stop"/>
    <redirect url="^/Properties.aspx\?PropCat=3$" to="/house-rentals-on-lake" processing="stop"/>
    <redirect url="^/Properties.aspx\?PropCat=4Cooperstown$" to="/house-rentals-on-lake" processing="stop"/>
    <redirect url="^/Properties.aspx\?PropCat=4$" to="/house-rentals-on-lake" processing="stop"/>
    <redirect url="^/Properties.aspx\?PropCat=13$" to="/house-rentals-on-lake" processing="stop"/>
    <redirect url="^/Properties.aspx\?PropCat=5$" to="/rooms-suites" processing="stop"/>
    <redirect url="^/Properties.aspx\?PropCat=15$" to="/group-lodging" processing="stop"/>
    <redirect url="^/Properties.aspx\?PropCat=10$" to="/oneonta-ny-lodging" processing="stop"/>
    <redirect url="^/Properties.aspx\?PropCat=1$" to="/apartment-rentals" processing="stop" /><!-- this must appear after other links that start with PropCat=1 -->
    
	<!-- property and homepage search results -->
    <!-- these must appear after other links that start with PropCat=1 -->
    <redirect url="^/Properties.aspx\?Search=True(.+)?$" to="/search-lodging?Search=True$1" processing="stop" />
    <redirect url="^/Properties.aspx\?Search=(.+)?$" to="/search-lodging?Search=True&amp;Term=$1" processing="stop"/>
    <!--redirect url="^/Properties.aspx\?Search(.+)?$" to="/search-lodging?Search$1" processing="stop" /-->
    
    
    <!-- redirect requests for old rental property URLs -->


    <redirect url="^/Rental-Lodging/(.+)?" to="/lodging-rentals/$1" processing="stop"/>
    
    <redirect url="^/Oneonta-Rental-Home/(.+)?" to="/oneonta-ny-lodging/$1" processing="stop"/>
    <redirect url="^/Oneonta-Rental-House/(.+)?" to="/oneonta-ny-lodging/$1" processing="stop"/>
    <redirect url="^/Oneonta-Rental-Lodging/(.+)?" to="/oneonta-ny-lodging/$1" processing="stop"/>
    
    <redirect url="^/Cooperstown-Rental-Suite/(.+)?" to="/rooms-suites/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Rental-Apartment/(.+)?" to="/apartment-rentals/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Dreams-Park-Rental-Suite/(.+)?" to="/rooms-suites/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Dreams-Park-Rental-Apartment/(.+)?" to="/apartment-rentals/$1" processing="stop"/>
    
    <redirect url="^/Cooperstown-Waterfront-Rental-Home/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Lakefront-Rental-Home/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Lake-Rental-Home/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Riverfront-Rental-Home/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    
    <redirect url="^/Cooperstown-Dreams-Park-Waterfront-Rental-Home/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Dreams-Park-Lakefront-Rental-Home/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Dreams-Park-Lake-Rental-Home/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Dreams-Park-Riverfront-Rental-Home/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    
    <redirect url="^/Cooperstown-Waterfront-Rental-House/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Lakefront-Rental-House/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Lake-Rental-House/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Riverfront-Rental-House/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    
    <redirect url="^/Cooperstown-Dreams-Park-Waterfront-Rental-House/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Dreams-Park-Lakefront-Rental-House/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Dreams-Park-Lake-Rental-House/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Dreams-Park-Riverfront-Rental-House/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    
    <redirect url="^/Cooperstown-Waterfront-Rental-Lodging/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Lakefront-Rental-Lodging/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Lake-Rental-Lodging/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Riverfront-Rental-Lodging/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    
    <redirect url="^/Cooperstown-Dreams-Park-Waterfront-Rental-Lodging/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Dreams-Park-Lakefront-Rental-Lodging/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Dreams-Park-Lake-Rental-Lodging/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Dreams-Park-Riverfront-Rental-Lodging/(.+)?" to="/house-rentals-on-lake/$1" processing="stop"/>
    
    <redirect url="^/Cooperstown-Rental-Home/(.+)?" to="/house-rentals/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Rental-House/(.+)?" to="/house-rentals/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Rental-Lodging/(.+)?" to="/house-rentals/$1" processing="stop"/>
    
    <redirect url="^/Cooperstown-Dreams-Park-Rental-Home/(.+)?" to="/house-rentals/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Dreams-Park-Rental-House/(.+)?" to="/house-rentals/$1" processing="stop"/>
    <redirect url="^/Cooperstown-Dreams-Park-Rental-Lodging/(.+)?" to="/house-rentals/$1" processing="stop"/>







    <!-- **************************************** Friendly URL Rewrites **************************************** -->
    <!-- 
      **************
      ** IMPORTANT
      **************
      If you make any changes to the friendly URLs, make sure you do the following things:
       - Update canonical tags 
       - Setup a 301 redirect and test it when you're done.  Make sure your redirect didn't mess up other pages that start with the same friendly URL
    -->
	
	<!-- general -->
    <rewrite url="^/rental-info([?].+)?$" to="~/Info.aspx$1" processing="stop"/>
    <rewrite url="^/rental-agreement([?].+)?$" to="~/Agreement.aspx$1" processing="stop"/>
    <rewrite url="^/faq([?].+)?$" to="~/FAQ.aspx$1" processing="stop"/>
    <rewrite url="^/reviews([?].+)?$" to="~/Testimonials.aspx$1" processing="stop"/>
    <rewrite url="^/contact([?].+)?$" to="~/ContactUs.aspx$1" processing="stop"/>
    <rewrite url="^/privacy([?].+)?$" to="~/Privacy.aspx$1" processing="stop"/>
    <rewrite url="^/login([?].+)?$" to="~/Login.aspx$1" processing="stop"/>
	
	<!-- area info -->
	<rewrite url="^/things-to-do([?].+)?$" to="~/Links.aspx$1" processing="stop"/>
	<rewrite url="^/cooperstown-photos([?].+)?$" to="~/Photos.aspx$1" processing="stop"/>
	<rewrite url="^/cooperstown-ny-map([?].+)?$" to="~/Maps.aspx$1" processing="stop"/>
	<rewrite url="^/area-map([?].+)?$" to="~/AreaMap.aspx$1" processing="stop"/>
	<rewrite url="^/rental-map([?].+)?$" to="~/GoogleMap.aspx$1" processing="stop"/>
	<rewrite url="^/village-map([?].+)?$" to="~/VillageMap.aspx$1" processing="stop"/>
	<rewrite url="^/parks-map([?].+)?$" to="~/ParksMap.aspx$1" processing="stop"/>
	
	<!-- house rentals -->
    <rewrite url="^/house-rentals/1-2-bedrooms([?].+)?$" to="~/Properties.aspx?PropCat=6&amp;$1" processing="stop"/>
    <rewrite url="^/house-rentals/3-bedrooms([?].+)?$" to="~/Properties.aspx?PropCat=7&amp;$1" processing="stop"/>
    <rewrite url="^/house-rentals/4-bedrooms([?].+)?$" to="~/Properties.aspx?PropCat=8&amp;$1" processing="stop"/>
    <rewrite url="^/house-rentals/5-bedrooms([?].+)?$" to="~/Properties.aspx?PropCat=9&amp;$1" processing="stop"/>
    <rewrite url="^/house-rentals/6-bedrooms([?].+)?$" to="~/Properties.aspx?PropCat=11&amp;$1" processing="stop"/>
	
	<!-- categories -->
    <rewrite url="^/house-rentals-on-lake([?].+)?$" to="~/Properties.aspx?PropCat=3,4,13&amp;$1" processing="stop"/>
    <rewrite url="^/rooms-suites([?].+)?$" to="~/Properties.aspx?PropCat=5" processing="stop"/>
    <rewrite url="^/group-lodging([?].+)?$" to="~/Properties.aspx?PropCat=15" processing="stop"/>
    <rewrite url="^/oneonta-ny-lodging([?].+)?$" to="~/Properties.aspx?PropCat=10" processing="stop"/>
    <rewrite url="^/apartment-rentals([?].+)?$" to="~/Properties.aspx?PropCat=1" processing="stop"/>
	
    <rewrite url="^/house-rentals([?].+)?$" to="~/Weekly-House-Rentals.aspx$1" processing="stop"/> <!-- must appear after all other /house-rentals* -->
    
	<!-- property and homepage search results -->
    <rewrite url="^/search-lodging[?](.+)?$" to="~/Properties.aspx?$1" processing="stop"/>


    <!-- this should rewrite the url to send the request to /html/page.html which should then be handled by the redirects below -->
    <redirect url="^/transferfromoldsite.aspx/(.+)$" to="/html/$1" processing="stop"/> 
    <redirect url="^/FileNotFound.htm\?aspxerrorpath=/transferfromoldsite.aspx/(.+)$" to="/html/$1" processing="stop"/> <!-- some pages are cached in Google like this -->


    <!-- redirection of old HTML pages that are still cached with Google -->
    <redirect url="^/Weekly-House-Rentals$" to="/house-rentals" processing="stop"/>
    <redirect url="^/index.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-maps.html\?Place=CDP%2CASV%2CBW(.+)?$" to="/parks-map" processing="stop"/>
    <redirect url="^/html/cstay-maps.html\?Place=CDP,ASV,BW(.+)?$" to="/parks-map" processing="stop"/>
    <redirect url="^/html/cstay-maps.html$" to="/cooperstown-ny-map" processing="stop"/>
    <redirect url="^/html/cstay-list-rooms.html$" to="/rooms-suites" processing="stop"/>
    <redirect url="^/html/cstay-list-oneonta.html$" to="/oneonta-ny-lodging" processing="stop"/>
    <redirect url="^/html/cstay-list-houses6.html$" to="/house-rentals/6-bedrooms" processing="stop"/>
    <redirect url="^/html/cstay-list-houses5.html$" to="/house-rentals/5-bedrooms" processing="stop"/>
    <redirect url="^/html/cstay-list-houses4.html$" to="/house-rentals/4-bedrooms" processing="stop"/>
    <redirect url="^/html/cstay-list-houses3.html$" to="/house-rentals/3-bedrooms" processing="stop"/>
    <redirect url="^/html/cstay-list-houses1-2.html$" to="/house-rentals/1-2-bedrooms" processing="stop"/>
    <redirect url="^/html/cstay-list-hof-weekend.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-list-cott.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-list-choices.html$" to="/house-rentals" processing="stop"/>
    <redirect url="^/html/cstay-list-area-links.html$" to="/things-to-do" processing="stop"/>
    <redirect url="^/html/cstay-list-apt.html$" to="/apartment-rentals" processing="stop"/>
    <redirect url="^/html/cstay-hse-wstfd-haven.html$" to="/house-rentals/Westford-Haven" processing="stop"/>
    <redirect url="^/html/cstay-hse-woodhaven.html$" to="/house-rentals/Woodhaven" processing="stop"/>
    <redirect url="^/html/cstay-hse-west-anne-hse.html$" to="/oneonta-ny-lodging/West-Ann-House" processing="stop"/>
    <redirect url="^/html/cstay-hse-wayside.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-victory.html$" to="/house-rentals/Victory-Hill" processing="stop"/>
    <redirect url="^/html/cstay-hse-valley-view-farm.html$" to="/house-rentals/Valley-View-Farm" processing="stop"/>
    <redirect url="^/html/cstay-hse-trolley-line.html$" to="/house-rentals/102-Trolley-Line" processing="stop"/>
    <redirect url="^/html/cstay-hse-toad-hall-cott.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-the-shire.html$" to="/house-rentals/The-Shire" processing="stop"/>
    <redirect url="^/html/cstay-hse-terrace-lawn.html$" to="/house-rentals/Terrace-Lawn" processing="stop"/>
    <redirect url="^/html/cstay-hse-summerwind.html$" to="/house-rentals/Summerwind" processing="stop"/>
    <redirect url="^/html/cstay-hse-spruce-ridge.html$" to="/oneonta-ny-lodging/Spruce-Ridge" processing="stop"/>
    <redirect url="^/html/cstay-hse-spruce-hill.html$" to="/house-rentals/Spruce-Hill" processing="stop"/>
    <redirect url="^/html/cstay-hse-sky-view.html$" to="/house-rentals/Sky-View" processing="stop"/>
    <redirect url="^/html/cstay-hse-sam-markle.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-ridgeview.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-quiet-time-farm.html$" to="/house-rentals/Quiet-Time-Farm" processing="stop"/>
    <redirect url="^/html/cstay-hse-pottery-house.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-pops-place.html$" to="/house-rentals/Pops-Place" processing="stop"/>
    <redirect url="^/html/cstay-hse-pioneer-cottage.html$" to="/oneonta-ny-lodging/Pioneer-Cottage" processing="stop"/>
    <redirect url="^/html/cstay-hse-pine-grove.html$" to="/house-rentals/Pine-Grove" processing="stop"/>
    <redirect url="^/html/cstay-hse-pattys-place.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-partridge-pond.html$" to="/house-rentals/Partridge-Pond" processing="stop"/>
    <redirect url="^/html/cstay-hse-parkside.html$" to="/house-rentals/Parkside" processing="stop"/>
    <redirect url="^/html/cstay-hse-old-gold.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-moonlight-graham.html$" to="/house-rentals/Moonlight-Graham" processing="stop"/>
    <redirect url="^/html/cstay-hse-meadowlands.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-maple-cottage.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-lj-corner.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-little-red-hse.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-kenwood.html$" to="/house-rentals/Kenwood" processing="stop"/>
    <redirect url="^/html/cstay-hse-just-a-plain-fm.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-ingalls.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-hunter-hill.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-hilltop-hse.html$" to="/house-rentals/Hilltop-House" processing="stop"/>
    <redirect url="^/html/cstay-hse-hillside-haven.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-hillside-chalet.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-high-valley.html$" to="/house-rentals/High-Valley" processing="stop"/>
    <redirect url="^/html/cstay-hse-high-ridge.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-heritage-house.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-heritage-cottage.html$" to="/house-rentals/Heritage-Cottage" processing="stop"/>
    <redirect url="^/html/cstay-hse-hawks-view.html$" to="/house-rentals/Hawks-View" processing="stop"/>
    <redirect url="^/html/cstay-hse-hartwick-cott.html$" to="/house-rentals/Hartwick-Cottage" processing="stop"/>
    <redirect url="^/html/cstay-hse-grey-goose.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-goose-creek.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-glimmerglass-hvn.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-glenwood.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-frog-pond.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-federal-house.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-embassy-hill.html$" to="/house-rentals/Embassy-Hill" processing="stop"/>
    <redirect url="^/html/cstay-hse-dreamview.html$" to="/house-rentals/Dreamview" processing="stop"/>
    <redirect url="^/html/cstay-hse-dream-catcher.html$" to="/house-rentals/Dream-Catcher" processing="stop"/>
    <redirect url="^/html/cstay-hse-day-house.html$" to="/house-rentals/Day-House" processing="stop"/>
    <redirect url="^/html/cstay-hse-curry-court.html$" to="/house-rentals/Curry-Court" processing="stop"/>
    <redirect url="^/html/cstay-hse-creekside.html$" to="/house-rentals/Creekside" processing="stop"/>
    <redirect url="^/html/cstay-hse-country-lion.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-country-hidewy.html$" to="/house-rentals/Country-Hideaway" processing="stop"/>
    <redirect url="^/html/cstay-hse-cottage-hse.html$" to="/house-rentals/Cottage-House" processing="stop"/>
    <redirect url="^/html/cstay-hse-cornish-hill.html$" to="/house-rentals/Cornish-Hill" processing="stop"/>
    <redirect url="^/html/cstay-hse-cobbler-cott.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-coachman-carriage.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-clinton-hous.html$" to="/oneonta-ny-lodging/Clinton-House" processing="stop"/>
    <redirect url="^/html/cstay-hse-classic-valley.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-church-street.html$" to="/oneonta-ny-lodging/Church-Street-House" processing="stop"/>
    <redirect url="^/html/cstay-hse-charlotte-creek.html$" to="/oneonta-ny-lodging/Charlotte-Creek" processing="stop"/>
    <redirect url="^/html/cstay-hse-change-seasons.html$" to="/house-rentals/Changing-Seasons" processing="stop"/>
    <redirect url="^/html/cstay-hse-chalet-village.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-centennial.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-camp-champion.html$" to="/house-rentals-on-lake/Camp-Champion" processing="stop"/>
    <redirect url="^/html/cstay-hse-butts-mountain.html$" to="/house-rentals/Butts-Mountain" processing="stop"/>
    <redirect url="^/html/cstay-hse-bungalow-23.html$" to="/house-rentals/Bungalow-23" processing="stop"/>
    <redirect url="^/html/cstay-hse-brookview.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-briarwood.html$" to="/apartment-rentals/Briarwood-One" processing="stop"/>
    <redirect url="^/html/cstay-hse-breezy-meadow.html$" to="/house-rentals/Breezy-Meadow-One" processing="stop"/>
    <redirect url="^/html/cstay-hse-big-irish-valley.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-best-bet.html$" to="/house-rentals/Best-Bet" processing="stop"/>
    <redirect url="^/html/cstay-hse-bellevue-ranch.html$" to="/oneonta-ny-lodging/Bellevue-Ranch" processing="stop"/>
    <redirect url="^/html/cstay-hse-beaver-crk.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-bavarian-farm.html$" to="/house-rentals/Bavarian-Farm" processing="stop"/>
    <redirect url="^/html/cstay-hse-barnum-acres.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-baker-house.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-august-moon.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-applebrook-cott.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-annmarie-bungalow.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-annies-church-hse.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-amazing-valley.html$" to="/house-rentals/Amazing-Valley" processing="stop"/>
    <redirect url="^/html/cstay-hse-amazing-grace.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-alexis.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-alans-corner.html$" to="/house-rentals/Alans-Corner" processing="stop"/>
    <redirect url="^/html/cstay-hse-1860-spencer-hse.html$" to="/house-rentals/1860-Spencer-House" processing="stop"/>
    <redirect url="^/html/cstay-hse-1819-house-bb.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-1819house-bb.html$" to="/house-rentals/1819-House" processing="stop"/>
    <redirect url="^/html/cstay-hse-1819-house.html$" to="/house-rentals/1819-House" processing="stop"/>
    <redirect url="^/html/cstay-hse-1819-carrag-hse.html$" to="/house-rentals/1819-Carriage-House" processing="stop"/>
    <redirect url="^/html/cstay-hse-1814-farmhouse.html$" to="/house-rentals/1814-Farmhouse" processing="stop"/>
    <redirect url="^/html/cstay-cott-waterview.html$" to="/house-rentals-on-lake/A-Water-View" processing="stop"/>
    <redirect url="^/html/cstay-cott-twin-spruce.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-todds-mahal.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-thyme-away-lo.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-tall-pines.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-sunrise-chalet.html$" to="/house-rentals-on-lake/Sunrise-Chalet" processing="stop"/>
    <redirect url="^/html/cstay-cott-sunny-crest-2.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-sunny-crest-1.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-starwater.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-sleeping-lion.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-riveredge.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-riverbend.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-red-cat-cott.html$" to="/house-rentals-on-lake/Thors-Landing" processing="stop"/>
    <redirect url="^/html/cstay-cott-palmer-house.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-loft-at-oak-shore.html$" to="/house-rentals-on-lake/The-Loft-at-Oak-Shores" processing="stop"/>
    <redirect url="^/html/cstay-cott-lkevw-paradise.html$" to="/house-rentals-on-lake/A-Lakeview-Paradise" processing="stop"/>
    <redirect url="^/html/cstay-cott-lakeview.html$" to="/house-rentals-on-lake/Lakeview-Cottage" processing="stop"/>
    <redirect url="^/html/cstay-cott-lakeside-cabin.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-hemlock-haven.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-harriets-hide.html$" to="/house-rentals-on-lake/Harriets-Hideaway" processing="stop"/>
    <redirect url="^/html/cstay-cott-harrietshide.html$" to="/house-rentals-on-lake/Harriets-Hideaway" processing="stop"/>
    <redirect url="^/html/cstay-cott-grinnloch.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-great-catch.html$" to="/house-rentals-on-lake/Great-Catch-Cabin" processing="stop"/>
    <redirect url="^/html/cstay-cott-goodyear-lodge.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-garth-newel.html$" to="/house-rentals-on-lake/Garth-Newell" processing="stop"/>
    <redirect url="^/html/cstay-cott-friendship-lodge.html$" to="/house-rentals-on-lake/Friendship-Lodge" processing="stop"/>
    <redirect url="^/html/cstay-cott-eastwind.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-driftwood.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-country-breeze.html$" to="/house-rentals-on-lake/Country-Breeze" processing="stop"/>
    <redirect url="^/html/cstay-cott-cool-breeze.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-cherry-lane-cott.html$" to="/house-rentals/Cherry-Lane-Cottage-One" processing="stop"/>
    <redirect url="^/html/cstay-cott-cherry-lane.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-camp-allaboard.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-calstown.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-bonnie-cove.html$" to="/house-rentals-on-lake/Bonnies-Cove" processing="stop"/>
    <redirect url="^/html/cstay-cott-blue-heron.html$" to="/house-rentals-on-lake/Blue-Heron" processing="stop"/>
    <redirect url="^/html/cstay-cott-big-willows.html$" to="/house-rentals-on-lake/Big-Willows" processing="stop"/>
    <redirect url="^/html/cstay-cott-beau-rivage.html$" to="/house-rentals-on-lake/Beau-Rivage" processing="stop"/>
    <redirect url="^/html/cstay-bb-stone-mill-hall.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-bb-blacksmith.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-bb-$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-apts-whitehill-cott.html$" to="/apartment-rentals/Whitehill-Cottage" processing="stop"/>
    <redirect url="^/html/cstay-apts-roundabout.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-apts-plex-apt.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-apts-pine-tree.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-apts-kessler.html$" to="/apartment-rentals/Kessler-Apartment" processing="stop"/>
    <redirect url="^/html/cstay-apts-hid-vall-pond.html$" to="/apartment-rentals/Hidden-Valley-Pond--Apt-1" processing="stop"/>
    <redirect url="^/html/cstay-apts-four-corners.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-apts-federal-hse-apt.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-apts-evergreen.html$" to="/apartment-rentals/Evergreen" processing="stop"/>
    <redirect url="^/html/cstay-apts-donnybrook.html$" to="/apartment-rentals/Donnybrook-North-Apt" processing="stop"/>
    <redirect url="^/html/cstay-apts-butterfly.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-apts-bella-casa.html$" to="/apartment-rentals/Bella-Casa--Apt-2" processing="stop"/>
    <redirect url="^/html/cstay-apts-bavarian-fm-stu.html$" to="/apartment-rentals/Bavarian-Farm-Studio" processing="stop"/>
    <redirect url="^/html/cstay-apts-apple-tree.html$" to="/apartment-rentals/Apple-Tree--Apt--1" processing="stop"/>
    <redirect url="^/html/cstay-apts-amish-barn.html$" to="/apartment-rentals/Amish-Barn-One" processing="stop"/>
    <redirect url="^/html/cstay-apts-all-star-hof-view.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-apts-all-aboard.html$" to="/apartment-rentals/All-Aboard-One" processing="stop"/>
    <redirect url="^/html/cstay-apts-advent-wdlnds.html$" to="/apartment-rentals/Adventure-Woodlands" processing="stop"/>
    <redirect url="^/html/cstay-apts-a-aidas-place.html$" to="/apartment-rentals/2-Pine-Apt-Number-1" processing="stop"/>
    <redirect url="^/html/cstay-apts-76-elm-apartment.html$" to="/oneonta-ny-lodging/76-Elm-Apt-1" processing="stop"/>
    <redirect url="^/html/cstay1-res-info.html$" to="/rental-info" processing="stop"/>
    <redirect url="^/html/cstay1-rental-agreemt.html$" to="/rental-agreement" processing="stop"/>
    <redirect url="^/html/cstay1-cooptwn.html$" to="/cooperstown-photos" processing="stop"/>
    <redirect url="^/html/cstay1-contactus.html$" to="/contact" processing="stop"/>
    <redirect url="^/MainSite/Links.aspx$" to="/things-to-do" processing="stop"/>
    <redirect url="^/MainSite/Default.aspx$" to="/" processing="stop"/>
    <redirect url="^/elements/graphics/cstay-map-parks.pdf$" to="/" processing="stop"/>
    <redirect url="^/elements/graphics/cstay-accomm-map16.pdf$" to="/images/cstay-accomm-map.pdf" processing="stop"/>

    <!-- discovered and added 7/18/18 -->
    <redirect url="^/html/cstay-hse-birds-eye-view.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-oaks-creek.html$" to="/house-rentals-on-lake/Oaks-Creek" processing="stop"/>
    <redirect url="^/html/cstay-cott-birch-cove.html$" to="/house-rentals-on-lake/Birch-Cove" processing="stop"/>
    <redirect url="^/html/cstay-hse-daves-hse.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-harvest-moon.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-west-winds.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-about-game.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-country-meadow.html$" to="/house-rentals/Country-Meadow" processing="stop"/>
    <redirect url="^/html/cstay-hse-west-anne-duplex.html$" to="/oneonta-ny-lodging/West-Ann-Duplex-Unit-5" processing="stop"/>
    <redirect url="^/html/cstay-hse-moose-lodge2.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-hse-longview.html$" to="/" processing="stop"/>
    <redirect url="^/cstay-list-choices.html$" to="/house-rentals" processing="stop"/>
    <redirect url="^/html/cstay-hse-breezy-meadow-two.html$" to="/house-rentals/Breezy-Meadow-Two" processing="stop"/>
    <redirect url="^/html/cstay-hse-stolk-lodge.html$" to="/house-rentals/Stokes-Lodge" processing="stop"/>
    <redirect url="^/html/cstay-hse-coop-cott.html$" to="/house-rentals/Cooperstown-Cottage" processing="stop"/>
    <redirect url="^/html/cstay-cott-awesome-view.html$" to="/house-rentals-on-lake/Awesome-View" processing="stop"/>
    <redirect url="^/html/cstay-cott-riverview.html$" to="/house-rentals-on-lake/Riverview" processing="stop"/>
    <redirect url="^/html/cstay-apts-four-corners.html$" to="/" processing="stop"/>

    <!-- discovered and added 7/24/18 -->
    <redirect url="^/html/cstay-apts-bavarian-farm.html$" to="/apartment-rentals/Bavarian-Farm-Apt" processing="stop"/>
    <redirect url="^/html/cstay-hse-dickens-cott.html$" to="/" processing="stop"/>
    <redirect url="^/html/cstay-cott-knoll-top.html$" to="/house-rentals-on-lake/Knoll-Top" processing="stop"/>
    <redirect url="^/html/cstay-hse-fly-creek-hse.html$" to="/house-rentals/Fly-Creek-House" processing="stop"/>
    <redirect url="^/html/cstay-cott-point-of-view.html$" to="/house-rentals-on-lake/Point-of-View" processing="stop"/>
    <redirect url="^/html/cstay-cott-sandys-cove.html$" to="/house-rentals-on-lake/Sandy-Cove" processing="stop"/>
    <redirect url="^/html/cstay-hse-weathervane.html$" to="/house-rentals/The-Weathervane" processing="stop"/>
    <redirect url="^/html/cstay-hse-dunlop-hse.html$" to="/house-rentals/Dunlop-House" processing="stop"/>
    <redirect url="^/html/cstay-map-parks.html$" to="/parks-map" processing="stop"/>
    <redirect url="^/html/cstay-apts-deer-mdow-fm.html$" to="/apartment-rentals/Deer-Meadow-Farm" processing="stop"/>

  </rewriter>
  
</configuration>